#ui
  .image-and-info
    .image
    .info
      .pics
        %i.fa.fa-camera
        %span.pic_amount
      .name
      .age
    .love
    .kill
  #controls
    #like.button
    #info.button
    #dislike.button
  #info-extended
    .text
      .name-and-age
        .name
        .age
      .race
    .badges
      .badge
        = image_tag 'speels.png'
        Speels
      .badge
        = image_tag 'buiten.png'
        Buiten
      .badge
        = image_tag 'andere_honden.png'
        Andere honden

= content_for :javascript do
  :javascript

    document.ontouchmove = function(event){
        event.preventDefault();
    }
    window.onload=function(){
        var baasje = new Baasje(".image-and-info", '#loader', '/json');
        baasje.init();

    }

