.image-and-info
  .image
  .info
    .pics
      %i.fa.fa-camera
      3
    .name
      Jeffrey
    .age
      tussen 4 en 8 jaar

.controls
  #like.button
    %i.fa.fa-times
  #info.button
    %i.fa.fa-info
  #dislike.button
    %i.fa.fa-heart-o

