#ui{
  display: none;
  width: 250px;
  margin: auto;
  &.details{
    width: 320px;
    .image-and-info{
      -webkit-box-shadow: none;
      -moz-box-shadow:none;
      box-shadow: none;
      border-radius: 0!important;
      .image{
        border-top-left-radius: 0!important;
        border-top-right-radius: 0!important;
      }
    }
  }
}
.image-and-info{
  -webkit-box-shadow: 0 7px 20px -6px black;
  -moz-box-shadow: 0 7px 20px -6px black;
  box-shadow: 0 7px 20px -6px black;
  margin-top: 20px;
  -webkit-backface-visibility: hidden;
  border-radius: 0;
//  width: 250px;
  box-sizing: border-box;


  &.moving-offscreen{
    z-index: 2000;
  }
  &.level_1{
    z-index: 1000;
  }
  &.level_2{
    z-index: -1;
    position: absolute;
    top: 4px;
    width: 244px;
    margin-left: 3px;
  }
  &.level_3{
    z-index: -2;
    position: absolute;
    top: 8px;
    width: 238px;
    margin-left: 6px;
  }
  &.level_4{
    z-index: -2;
    position: absolute;
    top: 8px;
    width: 238px;
    margin-left: 6px;
    box-shadow: 0;
  }


  .love{
    display: none;
    position: absolute;
    left: 20px;
    bottom: 119px;
    font-size: 50px;
    color: pink;
  }

  .kill{
    display: none;
    position: absolute;
    right: 20px;
    bottom: 119px;
    font-size: 50px;
    color: red;

  }

  &.animate{
    //all tranforms are set by code
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
  }
  .image{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
//    width: 250px;
    height: 200px;
    overflow: hidden;
    background-size: cover;
    background-position: center;

  }
  .info{
    color: #fff;
    padding: 7px;
    background-color: $mint-blue;
    text-transform: uppercase;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-bottom: 20px;
//    width: 250px;
  box-sizing: border-box;

    .name{
      font-size: 16px;
      font-weight: 100;
      margin-bottom: 3px;
      height: 18px;
      overflow: hidden;
    }
    .age{
      font-size: 13px;
      font-weight: 100;
    }
    .pics{
      float: right;
    }
  }

}
