.image-and-info{
  margin-top: 20px;
  transform: translate3d(5%,0,0) scale3d(1,1,1);
  position: relative;
  #love{
    display: none;
      position: absolute;
  right: 20px;
  bottom: 119px;
  font-size: 50px;
  color: pink;
  }
  &.animate{
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
  }
  .image{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 250px;
    height: 250px;
    overflow: hidden;
    background-image: url('jeffrey.jpeg');
    background-size: auto;
    background-position: center;

  }
  .info{
    color: #fff;
    padding: 7px;
    background-color: $mint-blue;
    text-transform: uppercase;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-bottom: 20px;
    .name{
      font-size: 16px;
      font-weight: 100;
      margin-bottom: 3px;
    }
    .age{
      font-size: 13px;
      font-weight: 100;
    }
    .pics{
      float: right;
    }
  }

}
