#info-extended{
  display: none;
  color: #fff;

  text-transform: uppercase;
  padding-bottom: 20px;
  width: 100%;
  box-sizing: border-box;
  .text{
    background-color: $mint-blue;
      padding-bottom: 20px;
    border-bottom: 2px solid #DEE3E2;
    .name-and-age{
      margin-left: 20px;
      padding-top: 20px;
      font-size: 14px;
      .age{
        padding-top: 4px;
        font-size: 12px;
      }
    }
    .race{
      margin-left: 20px;
      padding-top: 16px;
      font-size: 14px;
    }
    .location{
      padding-top: 16px;
      margin-left: 20px;
      font-size: 14px;

    }
    .shelter_city{
      font-size: 12px;
    }
  }
  .badges{
    background-color: #f2f2f1;
    margin-top: 20px;
    padding-bottom: 50px;
    .badge{
      width: 32%;
height: 100px;
display: inline-block;
overflow: hidden;
text-align: center;
font-size: 10px;
color: #333;
      img{
        width: 70px;

      }
    }
  }
}