#info-extended{
  display: none;
  color: #fff;
  background-color: $mint-blue;
  text-transform: uppercase;
  padding-bottom: 20px;
  width: 100%;
  box-sizing: border-box;
  .name-and-age{
    margin-left: 20px;
    padding-top: 20px;
    .age{
      font-size: 12px;

    }
    padding-bottom: 20px;
  }
  .location{
    margin-left: 20px;

  }
  .shelter_city{
    margin-left: 20px;
    font-size: 12px;
  }
  .badges{
    margin-top: 50px;
    padding-bottom: 50px;
    .badge{
      width: 32%;
      height: 100px;
      display: inline-block;
      overflow: hidden;
      text-align: center;
      img{
        width: 50px;

      }
    }
  }
}