#loader{
  img {
      display: block;
      height: 80px;
      width: 80px;
      margin: auto;
      margin-top: 180px;
      -webkit-border-radius: 80px;
      -moz-border-radius: 80px;
      border-radius: 80px;
      overflow: hidden;
  }
}