#controls{
  margin-top: 30px;
  width:300px;

  .button{
    background-color: $mint-blue;
    color: #fff;
    float:left;
  }
  #like{
    @extend .icons-like;
  }
  #dislike{
    @extend .icons-dislike;
  }
  #info{
    @extend .icons-details;
  }
  #like, #dislike{
    width: 84px;
    height: 84px;
    margin: 0 10px;
  }
  #info{
    width: 46px;
    height: 48px;
    border-radius: 25px;
    margin-top: 15px;
  }
}