html{
  height: 100%;
}
body{
  height: 100%;
width: 100%;
margin: 0;
background-color: #f2f2f1;
overflow: hidden;
margin: auto;
padding: 0;
  box-sizing: content-box;
}
.container{
  width:320px;
  margin: auto;
}
